@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Manrope", sans-serif;
  background: #FFFCEE;

}

.container {
  margin-right: auto;
  margin-left: auto;
}

.accordian-btn {
  background: none !important;
}
.accordian-btn[aria-expanded="true"] {
  border: none !important;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* desktop-2 coworkingspaces-sec slick slider */

.slick-dots li button:before {
  content: '' !important;
  width: 10px !important;
  height: 10px !important;
  background: #FF5D22;
}

.slick-dots li.slick-active button:before {
  width: 80px !important;
  background: #FF5D22;
}

.slick-dots li.slick-active button,.slick-dots li.slick-active {
  width: 80px !important;
}

.slick-dots {
  position: absolute !important;
  left: -67% !important;
  text-align: left !important;
}


@media (max-width: 767px) {

  .slider-container {
    overflow: hidden;
  }

  .slick-dots {
    left: 0% !important;
  }

}



/* desktop-2 coworkingspaces-sec slick slider */